In [2]:
import pandas as pd

In [9]:
lidar_df = pd.read_csv("../data/raw_dataset_lidar.csv")
odom_df = pd.read_csv("../data/raw_dataset_odom.csv")

In [10]:
lidar_df

,Unnamed: 0,frame_id,time_sec,time_nanosec,angle_min,angle_max,angle_increment,time_increment,scan_time,range_min,range_max,ranges,intensities
0,0,base_scan,467,569000000,0.0,6.28,0.017493,0.0,0.0,0.12,3.5,[ inf inf inf inf ...,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
1,1,base_scan,467,769000000,0.0,6.28,0.017493,0.0,0.0,0.12,3.5,[ inf inf inf inf ...,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
2,2,base_scan,467,969000000,0.0,6.28,0.017493,0.0,0.0,0.12,3.5,[ inf inf inf inf ...,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
3,3,base_scan,468,168000000,0.0,6.28,0.017493,0.0,0.0,0.12,3.5,[ inf inf inf inf ...,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
4,4,base_scan,468,369000000,0.0,6.28,0.017493,0.0,0.0,0.12,3.5,[ inf inf inf inf ...,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
799,799,base_scan,627,369000000,0.0,6.28,0.017493,0.0,0.0,0.12,3.5,[0.78607696 0.7623259 0.73291117 0.6921672 0...,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
800,800,base_scan,627,569000000,0.0,6.28,0.017493,0.0,0.0,0.12,3.5,[0.7896669 0.76030785 0.72601223 0.71659404 0...,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
801,801,base_scan,627,769000000,0.0,6.28,0.017493,0.0,0.0,0.12,3.5,[0.7796455 0.74736875 0.72419274 0.707664 0...,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
802,802,base_scan,627,969000000,0.0,6.28,0.017493,0.0,0.0,0.12,3.5,[0.78088635 0.75203294 0.73608536 0.71106905 0...,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
803,803,base_scan,628,169000000,0.0,6.28,0.017493,0.0,0.0,0.12,3.5,[0.7815097 0.7645042 0.7407752 0.68111104 0...,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...

In [11]:
odom_df

,Unnamed: 0,frame_id,time_sec,time_nanosec,position_x,position_y,position_z,velocity_x,velocity_y,velocity_z,orientation_x,orientation_y,orientation_z,orientation_w,omega_x,omega_y,omega_z,covariance_pos,covariance_vel
0,0,odom,467,566000000,-1.999914,-0.500001,0.008535,0.000004,-4.461494e-09,0.0,0.000049,0.002867,0.000006,0.999996,0.0,0.0,-5.281261e-08,[1.e-05 0.e+00 0.e+00 0.e+00 0.e+00 0.e+00 0.e...,[1.e-05 0.e+00 0.e+00 0.e+00 0.e+00 0.e+00 0.e...
1,1,odom,467,600000000,-1.999914,-0.500001,0.008532,0.000004,-1.544134e-08,0.0,0.000049,0.002867,0.000006,0.999996,0.0,0.0,-6.322169e-08,[1.e-05 0.e+00 0.e+00 0.e+00 0.e+00 0.e+00 0.e...,[1.e-05 0.e+00 0.e+00 0.e+00 0.e+00 0.e+00 0.e...
2,2,odom,467,634000000,-1.999914,-0.500001,0.008530,0.000004,-2.503905e-08,0.0,0.000049,0.002867,0.000006,0.999996,0.0,0.0,-6.790388e-08,[1.e-05 0.e+00 0.e+00 0.e+00 0.e+00 0.e+00 0.e...,[1.e-05 0.e+00 0.e+00 0.e+00 0.e+00 0.e+00 0.e...
3,3,odom,467,668000000,-1.999914,-0.500001,0.008533,0.000002,-9.427778e-10,0.0,0.000049,0.002868,0.000006,0.999996,0.0,0.0,-6.466611e-08,[1.e-05 0.e+00 0.e+00 0.e+00 0.e+00 0.e+00 0.e...,[1.e-05 0.e+00 0.e+00 0.e+00 0.e+00 0.e+00 0.e...
4,4,odom,467,702000000,-1.999914,-0.500001,0.008527,0.000002,-2.889666e-08,0.0,0.000049,0.002868,0.000006,0.999996,0.0,0.0,-8.106536e-08,[1.e-05 0.e+00 0.e+00 0.e+00 0.e+00 0.e+00 0.e...,[1.e-05 0.e+00 0.e+00 0.e+00 0.e+00 0.e+00 0.e...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4724,4724,odom,628,182000000,-1.888463,-1.208647,0.008532,0.000007,-1.422875e-06,0.0,0.002702,-0.000966,-0.949801,-0.312843,0.0,0.0,1.700509e-06,[1.e-05 0.e+00 0.e+00 0.e+00 0.e+00 0.e+00 0.e...,[1.e-05 0.e+00 0.e+00 0.e+00 0.e+00 0.e+00 0.e...
4725,4725,odom,628,216000000,-1.888463,-1.208647,0.008530,0.000003,2.016982e-06,0.0,0.002707,-0.000965,-0.949801,-0.312843,0.0,0.0,6.126344e-07,[1.e-05 0.e+00 0.e+00 0.e+00 0.e+00 0.e+00 0.e...,[1.e-05 0.e+00 0.e+00 0.e+00 0.e+00 0.e+00 0.e...
4726,4726,odom,628,250000000,-1.888463,-1.208647,0.008527,0.000004,-3.155158e-06,0.0,0.002709,-0.000963,-0.949801,-0.312843,0.0,0.0,1.010044e-06,[1.e-05 0.e+00 0.e+00 0.e+00 0.e+00 0.e+00 0.e...,[1.e-05 0.e+00 0.e+00 0.e+00 0.e+00 0.e+00 0.e...
4727,4727,odom,628,284000000,-1.888463,-1.208647,0.008533,0.000003,2.591829e-06,0.0,0.002710,-0.000961,-0.949801,-0.312843,0.0,0.0,8.962890e-07,[1.e-05 0.e+00 0.e+00 0.e+00 0.e+00 0.e+00 0.e...,[1.e-05 0.e+00 0.e+00 0.e+00 0.e+00 0.e+00 0.e...
4728,4728,odom,628,318000000,-1.888463,-1.208647,0.008526,0.000001,-4.923887e-06,0.0,0.002710,-0.000958,-0.949801,-0.312843,0.0,0.0,7.749882e-07,[1.e-05 0.e+00 0.e+00 0.e+00 0.e+00 0.e+00 0.e...,[1.e-05 0.e+00 0.e+00 0.e+00 0.e+00 0.e+00 0.e...

In [12]:
# selecting useful features
lidar_cols = ['frame_id', 'time_sec', 'time_nanosec', 'ranges']
odom_cols = ['frame_id', 'position_x', 'position_y', 'position_z', 'velocity_x', 'velocity_y', 'velocity_z', 'orientation_x', 'orientation_y', 'orientation_z', 'orientation_w', 'omega_x', 'omega_y', 'omega_z']

# DataFrames containing (almost) matched lidar and odom data
lidar_match = pd.DataFrame()
odom_match = pd.DataFrame()

times_s = lidar_df['time_sec']
times_nano = lidar_df['time_nanosec']
for i in range(len(times_s)):
  # selecting frames with same time (s)
  odoms_s = odom_df[odom_df['time_sec'] == times_s[i]]
  # matching data with least time (nanosec) diff
  diff_nanosec = pd.Series(odoms_s['time_nanosec'] - lidar_df.iloc[i]['time_nanosec'])
  min_diff = abs(diff_nanosec).idxmin()
  lidar_match = pd.concat([lidar_match, lidar_df.loc[i, lidar_cols]], axis=1)
  odom_match = pd.concat([odom_match, odoms_s.loc[min_diff, odom_cols]], axis=1)

# ensuring cols are the featuers
lidar_match = lidar_match.T
odom_match = odom_match.T

In [13]:
# substituting 'frame_id' fields with ranges to help merge later
lidar_match['frame_id'] = range(len(lidar_match))
odom_match['frame_id'] = range(len(odom_match))

In [14]:
odom_match

,frame_id,position_x,position_y,position_z,velocity_x,velocity_y,velocity_z,orientation_x,orientation_y,orientation_z,orientation_w,omega_x,omega_y,omega_z
0,0,-1.999914,-0.500001,0.008535,0.000004,-0.0,0.0,0.000049,0.002867,0.000006,0.999996,0.0,0.0,-0.0
6,1,-1.999914,-0.500001,0.008527,0.000001,-0.0,0.0,0.000049,0.002867,0.000006,0.999996,0.0,0.0,-0.0
12,2,-1.999914,-0.500001,0.008533,0.000005,-0.0,0.0,0.000049,0.002868,0.000006,0.999996,0.0,0.0,-0.0
18,3,-1.999914,-0.500001,0.008532,0.000002,-0.0,0.0,0.000049,0.002865,0.000006,0.999996,0.0,0.0,-0.0
24,4,-1.999914,-0.500001,0.008535,0.000003,0.0,0.0,0.000049,0.002869,0.000006,0.999996,0.0,0.0,-0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4700,799,-1.888463,-1.208648,0.008536,0.0,-0.000006,0.0,0.002692,-0.000934,-0.949801,-0.312843,0.0,0.0,0.000002
4706,800,-1.888463,-1.208647,0.008532,0.000008,-0.000006,0.0,0.002695,-0.000965,-0.949801,-0.312843,0.0,0.0,0.000002
4712,801,-1.888463,-1.208647,0.008531,0.000003,-0.000003,0.0,0.002712,-0.000982,-0.949801,-0.312843,0.0,0.0,0.0
4718,802,-1.888463,-1.208647,0.008534,0.000003,-0.000003,0.0,0.002683,-0.000971,-0.949801,-0.312843,0.0,0.0,0.000001
4724,803,-1.888463,-1.208647,0.008532,0.000007,-0.000001,0.0,0.002702,-0.000966,-0.949801,-0.312843,0.0,0.0,0.000002

In [15]:
# final DataFrame with both lidar and odom data
merged_df = lidar_match.merge(odom_match, how="inner", on='frame_id')
merged_df

,frame_id,time_sec,time_nanosec,ranges,position_x,position_y,position_z,velocity_x,velocity_y,velocity_z,orientation_x,orientation_y,orientation_z,orientation_w,omega_x,omega_y,omega_z
0,0,467,569000000,[ inf inf inf inf ...,-1.999914,-0.500001,0.008535,0.000004,-0.0,0.0,0.000049,0.002867,0.000006,0.999996,0.0,0.0,-0.0
1,1,467,769000000,[ inf inf inf inf ...,-1.999914,-0.500001,0.008527,0.000001,-0.0,0.0,0.000049,0.002867,0.000006,0.999996,0.0,0.0,-0.0
2,2,467,969000000,[ inf inf inf inf ...,-1.999914,-0.500001,0.008533,0.000005,-0.0,0.0,0.000049,0.002868,0.000006,0.999996,0.0,0.0,-0.0
3,3,468,168000000,[ inf inf inf inf ...,-1.999914,-0.500001,0.008532,0.000002,-0.0,0.0,0.000049,0.002865,0.000006,0.999996,0.0,0.0,-0.0
4,4,468,369000000,[ inf inf inf inf ...,-1.999914,-0.500001,0.008535,0.000003,0.0,0.0,0.000049,0.002869,0.000006,0.999996,0.0,0.0,-0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799,799,627,369000000,[0.78607696 0.7623259 0.73291117 0.6921672 0...,-1.888463,-1.208648,0.008536,0.0,-0.000006,0.0,0.002692,-0.000934,-0.949801,-0.312843,0.0,0.0,0.000002
800,800,627,569000000,[0.7896669 0.76030785 0.72601223 0.71659404 0...,-1.888463,-1.208647,0.008532,0.000008,-0.000006,0.0,0.002695,-0.000965,-0.949801,-0.312843,0.0,0.0,0.000002
801,801,627,769000000,[0.7796455 0.74736875 0.72419274 0.707664 0...,-1.888463,-1.208647,0.008531,0.000003,-0.000003,0.0,0.002712,-0.000982,-0.949801,-0.312843,0.0,0.0,0.0
802,802,627,969000000,[0.78088635 0.75203294 0.73608536 0.71106905 0...,-1.888463,-1.208647,0.008534,0.000003,-0.000003,0.0,0.002683,-0.000971,-0.949801,-0.312843,0.0,0.0,0.000001
803,803,628,169000000,[0.7815097 0.7645042 0.7407752 0.68111104 0...,-1.888463,-1.208647,0.008532,0.000007,-0.000001,0.0,0.002702,-0.000966,-0.949801,-0.312843,0.0,0.0,0.000002